<!DOCTYPE html>
<html>
<head>
    <title>Upload de Arquivo</title>
</head>
<body>
    <h1>Upload your spotify data .zip file here</h1>
    <p>You can find that ZIP file in your Spotify account settings, under "Download Extended History."</p>

    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Upload file</button>
    </form>


    {% if request.GET.success %}
        <p>Sent with success</p>
    {% endif %}

</body>
</html>
