<!DOCTYPE html>
<html>
<head>
    <title>Upload Bem-Sucedido</title>
</head>
<body>
    <h1>Upload Concluído com Sucesso!</h1>
    <p>Seu arquivo foi enviado com sucesso.</p>

    <!-- Botão para gerar a tabela a partir do arquivo -->
    <form method="POST" action="{% url 'process_file' %}">
        {% csrf_token %}
        <button type="submit">Gerar Resumo da Música</button>
    </form>
    <form method="POST" action="{% url 'show_summary' %}">
        {% csrf_token %}
        <button type="submit">Ver Resumo das Músicas</button>
    </form>
</body>
</html>
