<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spotify Files</title>
    <link rel="stylesheet" href="style.css"> 
</head>
<body>
    {% block menu %}
    {% if request.user.is_authenticated %}
        <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <button type="submit">Logout</button>
        </form>
    {% endif %}
    {% endblock %}
    
    {% block content %}
    <h2>Spotify Files</h2>
    <form action="{% url 'task_list' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form }}
        <button type="submit">Create</button>
    </form>
    <hr>
    <ul>
        {% for Task in object_list %}
        <li>{{ Task.title }}</li>
        {% endfor %}
    </ul>
    {% endblock %}
</body>
</html>
